# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sln
*.csproj
*.unityproj
*.pidb
*.user
*.booproj
*.svd

# Unity package
*.unitypackage
